@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: color $transition-fast;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all $transition-fast;
}

input {
  font-family: inherit;
  outline: none;
}
